body {
  overflow: hidden;
}

.parent {
  height: 100vh;
  overflow-y: scroll;
  scroll-snap-type: y mandatory;
  -ms-overflow-style: none;  /* IE and Edge */
  scrollbar-width: none;  /* Firefox */
}

.parent::-webkit-scrollbar {
  display: none;
}

section {
  height: 100%;
  scroll-snap-align: start;
  position: relative;
}

header {
  position: fixed;
}

.arrowDown {
  display: block;
  margin: auto;
  text-align: center;
}

/* ================================================== */
/* Education/Experience */
/* ================================================== */


#experienceContent {
  display: flex;
  justify-content: space-between;
  /*align-items: center;*/
}

.experienceColumn {
  flex-basis: 48%;
}

#educationResume {
  display: flex;
  flex-direction: column;
}

h3 {
  margin-bottom: 0px;
  padding-bottom: 0px;
}

p {
  margin-top: 5px;
  margin-bottom: 30px;
}

#resume {
  align-items: end;
}

#education {
  align-items: end;
}

.date {

  color: #BBD5ED;
  font-style: normal;
  margin-left: 30px;
}

/* ================================================== */
/* Projects */
/* ================================================== */

.projectContent {
  display: flex;
  justify-content: space-between;
  /*align-items: center;*/
}

.projectColumn {
  flex-basis: 40%;
}

img {
  border-radius: 50px;
  width: 100px;
  height: auto;
  min-width: 600px;
}
