html {
  scroll-behavior: smooth;
}
body {
  font-family: 'Poppins', sans-serif;
  overflow-x: hidden;
  padding-left: 6%;
  padding-right: 6%;
  padding-top: 1%;
  padding-bottom: 1%;
}
main {

}
h1 {
  font-size: 50px;
  margin-top: 6px;
  margin-bottom: 6px;
}
h4 {
  margin-top: -15px;
}

#title {
  font-size: 100px;
  margin-top: 10px;
  margin-bottom: 10px;
}
#headerText>p{
  font-size: 42px;
}

/* ######################################## */
/* links */
/* ######################################## */

.important {
  font-size: 25px;
}
.links {
  padding-left: 0;
  list-style-type: none;
}
.links > li {
  padding-right: 2%;
  display: inline;
}
a:link {
  color: black;
  text-decoration: none;
  font-style: italic;
}
a:hover {
  color: black;
  font-style: normal;
  cursor: pointer
}
a:visited {
  color: black;
}
