@font-face {
  font-family: Lora;
  src: url(Lora-VariableFont_wght.ttf);
}

html {
  scroll-behavior: smooth;
  color: #38023B;
}
body {
  font-family: 'Poppins', sans-serif;
  overflow-x: hidden;
  padding-left: 6%;
  padding-right: 6%;
  padding-top: 1%;
  padding-bottom: 1%;
}
main {

}
h1 {
  font-family: 'Lora';
  font-weight: normal;
  font-size: 50px;
  color: #A288E3;
  margin-top: 0px;
  margin-bottom: 0px;
}
h2 {
  font-family: 'Lora';
  font-weight: normal;
  font-size: 35px;
  color: #A288E3;
  margin-top: 6px;
  margin-bottom: 6px;
}

#title {
  font-size: 100px;
  margin-top: 10px;
  margin-bottom: 10px;
}
#headerText>p{
  font-size: 42px;
}

.globalPage {
  padding-top: 40px;
}


/* ================================================== */
/* Highlights */
/* ================================================== */

.bold-text-1 {
    background-color: #CCFFCB;
    border-radius: 15px;
}

.bold-text-2 {
    background-color: #CEFDFF;
    border-radius: 15px;
}

.bold-text-3 {
    background-color: #BBD5ED;
    border-radius: 15px;
}

.bold-text-4 {
    background-color: #d2f7ed;
    border-radius: 15px;
}

/* ================================================== */
/* Links */
/* ================================================== */

.links {
  padding-left: 0;
  list-style-type: none;
}
.links > li {
  padding-right: 2%;
  display: inline;
}
a:link {
  color: #38023B;
  text-decoration: none;
  font-style: normal;
}
a:hover {
  color: #38023B;
  font-style: italic;
  cursor: pointer;
}
a:visited {
  color: #38023B;
}
/* a.current {
  background-color: dodgerblue;
  color: white;
  text-decoration: underline;
} */

.button {
  background-color: #BBD5ED;
  border: 2px solid #BBD5ED;
  color: white;
  padding: 15px 32px;
  border-radius: 10px;
  font-family: 'Poppins', sans-serif;
  text-align: center;
  display: inline-block;
  font-size: 16px;
  transition-duration: 0.4s;
}

.button:hover {
  background-color: white;
  color: #BBD5ED;
  border: 2px solid #BBD5ED;
}

/* ================================================== */
/* Navigation Bar */
/* ================================================== */

nav {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-size: 20px;
}

#navigationBoxLeft {
  width: 30%;
  font-family: 'Lora', sans-serif;
  font-size: 30px;
}
#navigationBoxRight {
  width: 70%;
  float: right;
  display: inline-block;
  text-align: right;
  justify-content: space-evenly;
}

#navLinks > li {
  padding-right: 0;
  padding-left: 3%;
}

#navigationBoxRight li a.current{
   color: #A288E3;
}

#resumeButton {
  background-color: #38023B;
  border: none;
  color: white;
  padding: 5px 15px;
  border-radius: 10px;
  text-align: center;
}
