body {
}
#header{
  animation: fadein 3s;
  display: flex;
  flex-direction: row;
  align-items: center;
  align-content: space-between;
  padding-top: 45px;
}

@keyframes fadein {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
#container {
  display: flex;
}
.box {
  flex: 1;
  padding: 10px;
}
#headerText {
  margin-right: 80px;
  flex: 0 0 50%;
}
#headerBio {
  margin-bottom: 45px;
}
#headerBio > h1 {
  font-size: 90px;
}
#headerBio>p{
  font-size: 25px;
}
#seekingOpportunities {
  border: 5px solid #C2EDBB;
  border-radius: 15px;
  background-image: url("catbird.JPG");
  background-size: cover;
  color: white;
}
#getInTouch {
  text-align: center;
  border: 5px solid #BBD5ED;
  border-radius: 15px;
  margin-left: 45px;
}
#getInTouch {
  font-size: 20px;
}
#getInTouch>ul>li>a {
  margin-left: 10px;
  margin-right: 10px;
  font-size: 45px;
  color: #A288E3;
}
#headshot {
  flex: 1 1 40%;
  text-align: right;
}
img {
  width: 100%;
  object-fit: cover;
  overflow: hidden;
  border-radius: 50px;
}
