body {
  overflow: hidden;
}

.parent {
  height: 100vh;
  overflow-y: scroll;
  scroll-snap-type: y mandatory;
  -ms-overflow-style: none;  /* IE and Edge */
  scrollbar-width: none;  /* Firefox */
}

.parent::-webkit-scrollbar {
  display: none;
}

section {
  height: 100%;
  scroll-snap-align: start;
  position: relative;
}

header {
  position: fixed;
}

.arrowDown {
  display: block;
  margin: auto;
  text-align: center;
}

/* ================================================== */
/* Projects */
/* ================================================== */

.projectContent {
  display: flex;
  justify-content: space-between;
  /*align-items: center;*/
}

.projectColumn {
  flex-basis: 40%;
}

h3 {

}

img {
  border-radius: 50px;
  width: 100px;
  height: auto;
  min-width: 600px;
}

.projectTags {
  margin-top: 20px;
  margin-bottom: 20px;
}

.tag1 {
  background-color: #CEFDFF;
  border: 3px solid #CEFDFF;
  border-radius: 25px;
  padding: 4px;
  padding-left: 8px;
  padding-right: 8px;
  margin-right: 10px;
}

.tag2 {
  background-color: #CCFFCB;
  border: 3px solid #CCFFCB;
  border-radius: 25px;
  padding: 4px;
  padding-left: 8px;
  padding-right: 8px;
  margin-right: 10px;
}

.tag3 {
  background-color: #d2f7ed;
  border: 3px solid #d2f7ed;
  border-radius: 25px;
  padding: 4px;
  padding-left: 8px;
  padding-right: 8px;
  margin-right: 10px;
}
