html {
  scroll-behavior: smooth;
}
body {
  font-family: 'Poppins', sans-serif;
  margin: auto;
}
h1 {
  font-size: 50px;
  margin-top: 6px;
  margin-bottom: 6px;
}

.globalPage{
  height: 100%;
}


/* header ----------------------------------- */

#header{
  animation: fadein 3s;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}
@keyframes fadein {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
#title {
  font-size: 125px;
  margin-top: 10px;
  margin-bottom: 10px;
}
#headerText>p{
  font-size: 45px;
}
#headshot {
  width: 100%;
}
#headshot>img {
  margin: 50px;
  max-width: 95%;
}


/* main article ----------------------------- */

#mainContent {
  width: 66%;
}
main {
  padding: 2%;
  /*background-color: #DDDDDD;*/
}
.column {
  float: left;
  width: 50%;
}

.row:after {
  content: "";
  display: table;
  clear: both;
}
#asrcARApp:link{
  color: #ffc8dd;
}
#asrcARApp:hover {
  color: #ffa1c3;
  cursor: pointer
}
#asrcARApp:visited {
  color: #ffa1c3;
}

/* links */
.important {
  padding: 10px;
  padding-left: 2%;
  font-size: 25px;
}
ul {
  list-style-type: none;
  padding-left: 0px;
  margin: 0px;
}
li {
  display: inline;
  margin-right: 5%;
}
a:link {
  color: black;
  text-decoration: none;
  font-style: italic;
}
a:hover {
  color: black;
  font-style: normal;
  cursor: pointer
}
a:visited {
  color: black;
}
