html {
  scroll-behavior: smooth;
}
body {
  font-family: 'Poppins', sans-serif;
  margin: auto;
}
h1 {
  font-size: 50px;
  margin-top: 6px;
  margin-bottom: 6px;
}
h4 {
  margin-top: -15px;
}

.globalPage{
  height: 100%;
}


/* header ----------------------------------- */

#header{
  animation: fadein 3s;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}
@keyframes fadein {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
#title {
  font-size: 100px;
  margin-top: 10px;
  margin-bottom: 10px;
}
#headerText>p{
  font-size: 42px;
}
#headshot {
  width: 100%;
  margin-right: -60px;
  overflow: hidden;
}
#headshot>img {
  max-width: 95%;
}


/* main article ----------------------------- */

#mainContent {
  width: 66%;
}
main {
  padding: 2%;
}

/* projects */
.column {
  float: left;
  width: 46%;
  margin-left: 20px;
  margin-right: 20px;
}
.row:after {
  content: "";
  display: table;
  clear: both;
}
.projectImage{
  width: 100%;
  height: auto;
  object-fit: cover;
  object-position: center;
  margin-top: 20px;
}
#asrcARApp:link{
  color: #4060c9;
  text-decoration: underline;
}
#asrcARApp:hover {
  color: #212864;
  cursor: pointer
  text-decoration: underline;
}
#asrcARApp:visited {
  color: #212864;
  text-decoration: underline;
}

/* links */
.important {
  padding: 10px;
  padding-left: 2%;
  font-size: 25px;
}
ul {
  list-style-type: none;
  padding-left: 0px;
  margin: 0px;
}
li {
  display: inline;
  margin-right: 5%;
}
a:link {
  color: black;
  text-decoration: none;
  font-style: italic;
}
a:hover {
  color: black;
  font-style: normal;
  cursor: pointer
}
a:visited {
  color: black;
}
